
<div class="bg-profile">
<div class="container">
  <div class="row">

    <div class="col-md-6 "></div>

      <div class="col-md-6 bg-profile-description">
        <div class="header-profile"></div>

        <ul>
         <%= render "form", profile_message: "Edit profil" %>
        </ul>
      </div>

    </div>
  </div>
</div>

