<!-- <div class="container">
<h1 class = text-center>Hi <%=  @company.name %></h1>

<p class = text-center>
   congratulations !<br>
   your campaign has just been launched.<br>
   you can acess all related informations and make additional changes by going on your profile.
</p>
 <button class="btn-primary btn-lg"> <%= link_to(@profile) %> Go </button>
</div>
 -->
