
.bigcont-fb
{
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #3B5998;
}
.input{
  text-align: center;
  background-color: gray;
}

.form_container_preview
{
  display:inline-block;
  text-align: center;
  padding-top: 10px
}

#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}

#output_image
{
 max-width:100%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-top: 10px;
 padding-bottom: 10px;
}
#preview_div_title {
  font: bold 18px Times;
  padding-bottom: 5px;
}

#preview_div_description {
  font: 15px Times;
}
#preview_div_url {
  padding-top: 5px;
  font:12px helvetica;
  color: #9197a3;
  text-transform: uppercase;


}

#download {
  margin: 10px auto;
  position: relative;
  max-width: 490px;
  overflow: hidden;
  line-height: 1.38;
}

.fb {
  background-color: #F6F7F8;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  border-color: white;
  border-radius: 2px;
  width: 490px;
}

.fb .post {
  background-color: #fff;
  padding: 12px;
}

#download .post .top {
  margin-bottom: 11px;
}

#download .post .top .img {
  float: left;
  margin-right: 8px;
}
img {
  vertical-align: middle;
  border: 0;
}

#download .post .top .name a {
  color: #3b5998;
  font-size: 14px;
}



#download .post .text-message {
  font-size: 14px;
  word-wrap: break-word;
}

#download .post .txtbottom {
  margin-top: 10px;
}

#download .post .txtbottom a {
  color: #6d84b4;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

i.shares {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -249px -465px;
  width: 14px;
  display: inline-block;
  height: 15px;
  bottom: 2px;
  margin-right: 2px;
}

#download .post .top .name .sponsored {
  display: block;
  color: #9197a3;
  font-size: 12px;
  padding-top: 3px;
  box-sizing: border-box;
}

#download .post_likes, #download .post_shares {
  background-color: #F6F7F8;
  padding: 8px 12px;
  border-top: 1px solid #e1e2e3;
  margin: 0;
}

#download .post_likes a, #download .post_shares a {
  color: #6d84b4;
}



#download .post_write_comment .txt .text_block {
  padding-left: 40px;
  box-sizing: border-box;
}

#download .post_write_comment .txt .text_block .comment {
  border: 1px solid #dcdee3;
  min-height: 32px;
  padding-left: 5px;
  color: #141823;
  background-color: #fff;
  padding-bottom: 7px;
  padding-top: 7px;
  box-sizing: border-box;
}

#download .post_write_comment {
  background-color: #F6F7F8;
  padding: 8px 12px;
  border-top: 1px solid #e1e2e3;

}

#download .post_write_comment .img {
  float: left;
  margin-right: 8px;
}

.pull-left {
  float: left!important;
}

#download .post_write_comment .txt .text_block .comment .pull-right.text-right {
  text-align: right;
}

.pull-right {
  float: right!important;
}

#download .post_write_comment .txt .text_block .comment .pull-right.text-right .fot_ico {
  margin: 0 8px;
}

#download .post .img_message {
  font-size: 14px;
  word-wrap: break-word;

  min-height: 32px;
  padding-left: 0px;
  padding-right: 0px;
  color: #141823;
  background-color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}
.rounded-facebook-demo{
  background-color: white;
  border-color: white;
  border-radius: 20px;
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 7px 10px;
  text-decoration:none;
  height: 30px;
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

.facebook-font
{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 20px;
  background-color: #3B5998;
}

//------------------------------------------------

.bigcont-twtr
{
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #1DA1F2;
  justify-content: space-around;
  align-items: center;
}
.twitter{
  width: 560px;
}
.twitter-font
{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 20px;
  background-color: #1DA1F2;
}
.modal-header {
    padding: 30px 40px;
    padding-bottom: 0px;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-color: white;
  border-radius: 2px;
}
.permalink-header {
    height: 48px;
    margin-bottom: 15px;
    float: left;
}
.pull-right {
    float: right!important;
}

.avatar {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.name-block {
    float: left;
}
.fullname {
    font-weight: bold;
    color: #292f33;
}
.permalink-header .fullname {
    display: block;
    padding-top: 2px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 1.25;
}
.username {

    color: #8899a6;
}
.permalink-header .username {
    font-size: 14px;
}
.Icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
}
.Icon--medium {
    font-size: 18px;
    line-height: 18px;
    margin: 0px 8px 0px 3px;
    display: inline-block;
    top: 5px;
    position: relative;
    color: #66757f;
}
.button-text {
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
}
.follow-text {
    color: #292f33;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.modal-body .tweet-text {
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
}
.modal-body .tweet-text.max {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: .01em;
}

#preview_div_description_twitter {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: .01em;
}

.modal-body .tweet-text .link {
    color: #2FC2EF;
}
.tweet-actionList {
    margin-top: 5px;
    height: 21px;
}
.tweet-action {
    float: left;
    margin-right: 31px;
}
.client-and-actions {
    clear: both;
    margin-top: 10px;
}
.client-and-actions .metadata {
    line-height: 24px;
    font-size: 13px;
    color: #8899a6;
}

.modal-body {
    padding: 30px 40px;
    padding-top: 0px;
}
#output_image_twitter {
  font-size: 14px;
  word-wrap: break-word;

  max-width: 478px;
  padding-left: 0px;
  padding-right: 0px;
  color: #141823;
  background-color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}

.bigcont-insta
{
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  justify-content: space-around;
  align-items: center;
}


