// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
@import "grid";


body {
  background-color: rgb(253, 253, 253);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

