<nav class="navbar navbar-default navbar-fixed-top navbar-home">
  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand " href="#">
        <%= image_tag "logo-white.png", class: "brandsize" %>
      </a>

    </div>
    <div class="nav navbar-nav navbar-right paddnav ">
     <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default text-inside-form">about</button>
      <button type="button" class="btn btn-default text-inside-form">login</button>
     <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  </div>
</div>

</nav>
