<div class="bg-home">
  <div class="banner" >
    <div class="banner-content">
     <div class="center-flex">
      <a href="#" class="btn-medium flexlearn">Start increase your business</a>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="learn-1">
    <div class="col-md-6">
      <p class="learnp">choose your
      network</p>
    </div>

    <div class="col-md-6">
      <img class="imgbg1-face" src="/assets/netw.png" alt="">
    </div>

  </div>
</div>
<div class="separator1">
</div>
<div class="row">
  <div class="learn-2">
    <div class="col-md-6"></div>
    <div class="col-md-6 imgbg2"> <p class="learnp">Fill the form</p></div>
  </div>
</div>
<div class="separator2"> </div>
<div class="row">
 <div class="learn-3">
  <div class="col-md-6 imgbg3"><p class="learnp">drive your
customer
to store</p></div>
  <div class="col-md-6"></div>
</div>
</div>
</div>




