
<div class="bg-home">
  <div class="banner" >
    <div class="banner-content">
     <div class="center-flex">
      <div class="row">
        <div class="col-md-12">

      <%= link_to "A preview of LoKol power", previews_demo_path, class: "btn-medium flexlearn"  %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid">
<div class="row">
  <div class="learn-1">
    <div class="col-md-6">
      <p class="learnp">choose your
      network</p>
    </div>
    <div class="col-md-6">
      <!-- modif 22/11 20h06 -->
      <%= image_tag("netw.png", class: "imgbg1-face") %>
      <!-- <img class="imgbg1-face" src="/assets/netw.png" alt=""> -->
    </div>
  </div>
   </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="learn-2">
    <div class="col-md-6"></div>
    <div class="col-md-6 imgbg2"> <p class="learnp">Fill the form</p></div>
  </div>

</div>
</div>
<div class="container-fluid">
<div class="row">
 <div class="learn-3">
  <div class="col-md-6 imgbg3">
    <p class="learnp">drive your customer to store</p>
  </div>
  <div class="col-md-6"></div>
</div>
</div>
</div>






