  <!--input -->
<div class="input">
  <div class="form_container_preview">
    <ul>
      <li>
        <input class="rounded-facebook-demo" id="text_user"onkeyup="preview_user();" placeholder="Who are you">
      </li>
      <li>
        <input class="rounded-facebook-demo" id="text_title"onkeyup="preview_title();" placeholder="Your add title">
      </li>
      <li>
        <input class="rounded-facebook-demo" id="text_description"onkeyup="preview_description();" placeholder="Description of you add">
      </li>
      <li>
        <input class="rounded-facebook-demo" id="text_url"onkeyup="preview_url();" placeholder="Url of your page">
      </li>
      <li>
        <input class="rounded-facebook-demo" type="file" onchange="preview_image(event)">
      </li>
    </ul>
  </div>
</div>

<div class="facebook-font">facebook preview</div>

<div class="bigcont-fb">
  <!--output -->
  <div class="fb" id="download">
    <div class="post">
      <div class="top">
        <div class="img fileinput-preview">
          <img src="/assets/facebook-profile" width="40" height="40px" alt="">
        </div>
        <div class="name">
          <strong><a href="#"><span class="text-name"><div id="preview_div_user"></div></span></a></strong>
          <div class="sponsored">Sponsored</div>
        </div>
      </div>

      <div class="img_message"><img id="output_image"/></div>
      <div id="preview_div_title"></div>
      <div id="preview_div_description"></div>
      <div id="preview_div_url"></div>

      <div class="txtbottom">
        <a href="#" class="text-liketext">Like</a>
        路
        <a href="#" class="text-commenttext">Comment</a>
        路
        <a href="#" class="text-sharetext">231</a>
      </div>
    </div>
    <div class="post_likes">
      <img src="/assets/preview-facebook-thumb.svg" alt="">
      <a href="#"><span class="text-likes">45 people</span></a>
      <span class="text-likethistext">like this</span>.
    </div>
    <div class="post_shares">
      <i class="shares"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 24 24"><path fill="#758fb5" d="M6 17c2.269-9.881 11-11.667 11-11.667v-3.333l7 6.637-7 6.696v-3.333s-6.17-.171-11 5zm12 .145v2.855h-16v-12h6.598c.768-.787 1.561-1.449 2.339-2h-10.937v16h20v-6.769l-2 1.914z"/></svg></i>
      <a href="#"><span class="text-shares">546 shares</span></a>
    </div>
    <div class="post_write_comment">
      <div class="img">
        <img src="/assets/facebook-profile" width="32" height="32px" alt="">
      </div>
      <div class="txt">
        <div class="text_block">
          <div class="comment">
            <div class="pull-left text-wrcommenttext">Write a comment ...</div>
            <div class="pull-right text-right">
              <img src="/assets/preview-facebook-share.svg" alt="">
              <img src="assets/images/facebook/smile_ico.png" class="smile_ico">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="twitter-font">Twitter preview</div>

<div class="bigcont-twtr">
  <div class="twitter">
    <div class="modal-content">
    <div class="modal-header">
      <div class="content clearfix">
        <div class="permalink-header">
          <img class="avatar" src="/assets/twitter-profile.png" alt="">
          <div class="name-block">
            <strong class="fullname text-name"><div id="preview_div_user_twitter"></div></strong>
            <span class="username"><s>@</s><b class="text-at" id="preview_div_user_twitter2"></b></span>
          </div>
        </div>
        <div class="pull-right">
          <span class="Icon Icon--cog Icon--medium"></span>
          <span class="btn button-text follow-text">
           <span class="Icon Icon--follow"><img src="/assets/twitter-icon-follow.svg" alt=""></span> <span class="text-followtext">Follow us</span>
         </span>
       </div>
     </div>

   </div>
   <div class="modal-body">
    <div class="img_message"><img id="output_image_twitter"/></div><div id="preview_div_description_twitter"></div><a id="preview_div_url_twitter"></a></p>
    <div class="tweet-actionList">
      <div class="tweet-action">
        <span class="Icon Icon--reply"><img src="/assets/twitter-icon-reply.svg" alt=""></span>
      </div>
      <div class="tweet-action">
        <span class="Icon Icon--retweet"><img src="/assets/twitter-icon-retweet.svg" alt=""></span>
      </div>
      <div class="tweet-action">
        <span class="Icon Icon--favorite"><img src="/assets/twitter-icon-favorite.svg" alt=""></span>
      </div>
      <div class="tweet-action">
        <span class="Icon Icon--follow"><img src="/assets/twitter-icon-follow.svg" alt=""></span>
      </div>
      <div class="tweet-action">
        <span class="Icon Icon--dots"><img src="/assets/twitter-icon-dot.svg" alt=""></span>
      </div>
    </div>
    <div class="client-and-actions">
      <span class="metadata">
        <span class="text-date">6:48 PM - 24 November 2017</span>
      </span>
    </div>
   </div>
    </div>
  </div>
</div>

<div class="bigcont-insta">
  <div class="fb" id="download">
    <div class="post">
      <div class="top">
        <div class="img fileinput-preview">
          <img src="/assets/facebook-profile" width="40" height="40px" alt="">
        </div>
        <div class="name">
          <strong><a href="#"><span class="text-name"><div id="preview_div_user"></div></span></a></strong>
          <div class="sponsored">Sponsored</div>
        </div>
      </div>

      <div class="img_message"><img id="output_image"/></div>
      <div id="preview_div_title"></div>
      <div id="preview_div_description"></div>
      <div id="preview_div_url"></div>

      <div class="txtbottom">
        <a href="#" class="text-liketext">Like</a>
        路
        <a href="#" class="text-commenttext">Comment</a>
        路
        <a href="#" class="text-sharetext">231</a>
      </div>
    </div>
    <div class="post_likes">
      <img src="/assets/preview-facebook-thumb.svg" alt="">
      <a href="#"><span class="text-likes">45 people</span></a>
      <span class="text-likethistext">like this</span>.
    </div>
    <div class="post_shares">
      <i class="shares"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 24 24"><path fill="#758fb5" d="M6 17c2.269-9.881 11-11.667 11-11.667v-3.333l7 6.637-7 6.696v-3.333s-6.17-.171-11 5zm12 .145v2.855h-16v-12h6.598c.768-.787 1.561-1.449 2.339-2h-10.937v16h20v-6.769l-2 1.914z"/></svg></i>
      <a href="#"><span class="text-shares">546 shares</span></a>
    </div>
    <div class="post_write_comment">
      <div class="img">
        <img src="/assets/facebook-profile" width="32" height="32px" alt="">
      </div>
      <div class="txt">
        <div class="text_block">
          <div class="comment">
            <div class="pull-left text-wrcommenttext">Write a comment ...</div>
            <div class="pull-right text-right">
              <img src="/assets/preview-facebook-share.svg" alt="">
              <img src="assets/images/facebook/smile_ico.png" class="smile_ico">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="bigcont-instgram">
  <div class="insta-top">
    <div class="insta-user-profile">
      <div class="insta-avatar"></div>
      <div class="insta-user-info">
        <div class="insta-name"></div>
        <div class="insta-sponsor"></div>
      </div>
    </div>
    <div class="insta-dot"></div>
  </div>
  <div class="insta-photo"></div>
  <div class="insta-interaction"></div>
  <div class="insta-icons">
    <div class="insta-iconleft">
      <div class="insta-like"></div>
      <div class="insta-comment"></div>
      <div class="insta-send"></div>
    </div>
    <div class="insta-iconright"></div>
  </div>
  <div class="insta-namebox">
    <div class="insta-name"></div>
    <div class="insta-photoname"></div>
  </div>
</div>
