.bg-home{
  //position: absolute;
    z-index: 0;
    height: 800px;
    width: 100%;
    left: 0;
    padding: 15px;
  //top: 0;
  //background-color:#d8d7d7;
  background-image: url("img6.png");
  background-size:cover;
  background-position: center;
  color:white;
}
section{
  //padding-top: 50px;
  height:600px;
}

.imgbg1{
  background-image: url("img10.jpg");
  background-size:cover;
  background-position: bottom;
  color:white;
  height:400px;
}
.imgbg1-face{
  background-size:cover;
  background-position: bottom;
  color:white;
  height:400px;
  position: relative;
    z-index: 4;
    display: block;

    padding: 20px;
}
.imgbg1-insta{
  background-image: url("insta.png");
  background-size:cover;
  background-position: bottom;
  color:white;
  height:400px;
  position: relative;
    z-index: 4;
    display: block;

    padding: 20px;
}
.imgbg2{
  background-color:white;
  background-size:cover;
  background-position: center;
  color:white;
  height:400px;
}
.imgbg3{
  background-image: url("img11.jpg");
  background-size:cover;
  background-position: center;
  color:white;
  height:400px;
}
.separator1{
}
.learn-1{
    //border-bottom: 100vh solid #fff;
    //border-left: 45px solid transparent;
    //border-right: 17px solid transparent;
    //padding: 0 8px 0 0;
  background-color:rgb(255, 255, 255);;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover

}

.learn-2{
 background-color:red;
 background-image:url("img5.jpg");
 height: 500px;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover
}

.learn-3{
  background-color:red;
  background-image:url("/assets/img4.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.bg-home-form{
  background-color: #eee;
  padding-left: 0;
  float: left;
  min-height: 100vh;
  padding: 15px;
  width:300px;
}

.form-home-div{
  top: 50%;
  background: #FFFFFF;
  position: absolute;
  z-index: 40;
  border-radius: 10px;
}

.image-upload{
  width:200px;
  height:150px;
  background:#f3f3f3;
  border:2px dashed #e8e8e8;
}
.bg-company{
  background-image:url("/assets/lokoshop-11.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.padtopcamp{
  padding-top:20px;

}
.padbottomcamp{
  padding-bottom:5px;
}

.bg-profile{
  background-image:url("/assets/lokoshop-13.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.bg-profile-description{
  padding-top:20px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
