.text-inside-form{
  font-size:15px;
}

.learnp{
  font-size: 89px;
    color: black;
    padding: 56px;
    font-weight: 100;
    line-height: 101%;
    letter-spacing: 11px;

}
ul{
list-style-type: none;
}
