  <div class="bg-company">
  <div class="container">
    <div class="row">
      <% @campaigns.each do |campaign| %>
      <hr >
      <div class="col-sm-12 col-md-12">
        <div class="message">
  <img class="avatar-small" src="/assets/lokoshop-8.jpg">
  <div class="message-name">
    <h3><%= campaign.campaign_name %></h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><%= campaign.adset_name%></p>

  </div>
  <div class="message-status">
    <p class="status pending"><%= campaign.adset_bid_amount%> €</p>
    <p class="price"><%= campaign.adset_billing_event%> €</p>
  </div>
  </div>

      </div>
      <% end %>
    </div>
  </div>
</div>


<!--
    t.string "campaign_name"
    t.datetime "adset_start_date"
    t.datetime "adset_end_date"
    t.string "adset_name"
    t.bigint "company_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "fb_campaign_id"
    t.string "campaign_objective"
    t.string "adset_bid_amount"
    t.string "adset_billing_event"
    t.integer "adset_daily_budget"

 -->
